/* общие настройки */
*,
*::before,
*::after{
	box-sizing: border-box;
}

body{
	color: #fff;
	background-color: #0B0B0B;
	font: 400 24px/28px 'Roboto Condenced', sans-serif;
}

a{
	color: #fff;
	text-decoration: none;
}

.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}


/* Header ========================== */
.header{
	height: 100vh;
	position: absolute;
	z-index: 1;
	background: rgba(11, 11, 11, 0.3);
	top: 0;
	left: 0;
	right: 0;
}

.header-top{
   display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	margin: 36px 0 29px;
}

.header-btn{
	position: relative;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.header-btn span{
	position: absolute;
	width: 36px;
	height: 2px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s;
	
}

.header-btn span::before,
.header-btn span::after{
	content: '';
	position: absolute;
	background-color: #fff;
	width: 36px;
	height: 2px;
	transition: all 0.3s;
}

.header-btn span::before{
	top: -13px;
}

.header-btn span::after{
	bottom: -13px;
}

/* .header-btn.active span{
	background-color: transparent;
}

.header-btn.active span::before{
	top: 0;
	transform: rotate(-45deg);
	
}

.header-btn.active span::after{
	top: 0;
	transform: rotate(45deg);
} */

.header-content h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 96px;
	line-height: 112px;
}

.header-content p{
	margin: 40px 0 25px;
	max-width: 284px;
}

.btn{
	display: inline-block;
	font-weight: 700;
	padding: 30px 62px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid #FFFFFF;
	transition: all 0.3s;
}

.btn:hover{
	background-color: #690102;
}

/* выезжающее меню --- */
.menu{
	background-color: #000;
	position: absolute;
	width: 100%;
	top: 0;
	transform: translateX(-120%);
	z-index: 3;
	transition: transform 0.5s;
}

.menu-inner{
	display: flex;
	justify-content: space-between;
}

.menu-list{
	max-width: 425px;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
}

.menu-list ul{
	width: 100%;
}

.menu-list a{
	padding-bottom: 14px;
	border-bottom: 3px solid #B70021;
	display: inline-block;
	width: 100%;
	transition: all 0.3s;
}

.menu-list a:hover{
	border-color: #fff;
}

.menu-list li + li{
	margin-top: 30px;
}

.menu-btn{
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
	top: 40px;
}

.menu-btn::before,
.menu-btn::after{
	content: '';
	position: absolute;
	width: 70px;
	height: 2px;
	background-color: #fff;
	transform-origin: left;
}

.menu-btn::before{
	transform: rotate(-45deg);
	bottom: -1px;
}

.menu-btn::after{
	transform: rotate(45deg);
}

.menu.active{
	transform: translateX(0);
}
/* ---- */

/* Slider-top ==================== */
.slider__item{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slider .slick-dots button{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #0B0B0B;
	border: none;
	padding: 0;
	font-size: 0;
	outline: none;
	/* cursor: pointer; */
}

.slider .slick-dots .slick-active button{
	background-color: #fff;
}

.slider .slick-dots li{
	display: inline-block;
}

.slider .slick-dots li:nth-child(2){
	margin: 0 20px;
}

.slider .slick-dots{
	margin: 0 auto;
	position: relative;
	bottom: 56px;
	display: block;
	z-index: 2;
	max-width: 1230px;
	padding: 0 15px;
}


/* Statistics ======================= */
.statistics-items{
	display: flex;
	justify-content: space-between;
	max-width: 1073px;
	margin: 75px auto 100px;
}


.statistics-item{
	text-align: center;
}

.statistics-item__num{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 96px;
	line-height: 112px;
	margin: 19px 0 7px;
}

.statistics-item__num span{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	margin-left: 8px;
}

.statistics-item:first-child .statistics-item__num span{
	margin-left: 0;
}

.statistics-item__descr{
	color: #B70021;
}

.statistics-item:last-child .statistics-item__num{
	position: relative;
}

.statistics-item:last-child .statistics-item__num::after{
	content: '+';
	position: absolute;
	width: 11px;
	height: 12px;
	top: 5px;
	right: 38px;
	line-height: 12px;
	font-size: 20px;
}


/* Video ==================== */
.video{
	margin-bottom: 100px;
}


/* Advantages ===================== */
.advantages-items{
	overflow: hidden;
}
.advantages-item{
	display: flex;
	justify-content: space-between;
}

.advantages-text{
	max-width: 570px;
	width: 100%;
}

.advantages-text-title{
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 100px;
	color: #B70021;
}

.advantages-text-descr{
	max-width: 280px;
}

.advantages-item:last-child{
	flex-direction: row-reverse;
	margin-top: 100px;
} 

.advantages-item:last-child .advantages-text{
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 50px;
}

.advantages-item:last-child .advantages-text-title{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
}


/* Design ================ */
.design{
	margin: 100px 0;
}

.design-img img{
	width: 100%;
}

.design-content{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.design-content-item{
	display: flex;
	justify-content: space-between;
	max-width: 555px;
	padding-right: 15px;
	min-height: 200px;
	width: 100%;
}

.design-content-item:last-child{
	margin-left: 50px;
}

.design-content-item p{
	max-width: 450px;
	width: 100%;
	padding-top: 30px;
}

.design-content-item span{
	color: #B70021;
}


/* Footer ================ */
.footer{
	padding: 73px 0 10px;
	background-color: #690102;
}

.footer-btn{
	display: flex;
	justify-content: center;
	margin-bottom: 83px;
}

.footer-bottom{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-weight: 700;
}



.footer-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.footer-menu li::before{
	content: '|';
	margin: 0 14px;
}








/* Медиа запросы ================================== */
@media (max-width: 1200px){
	.footer-copy{
		margin: 10px;
	}

	.footer-menu li{
		margin: 10px;
	}
}


@media (max-width: 1100px){
	.header-content h1{
		font-size: 80px;
		line-height: 80px;
	}

	.menu-list{
		font-size: 40px;
		line-height: 40px;
	}
}


@media (max-width: 940px){
	.advantages-item{
		flex-direction: column;
		align-items: center;
	}

	.advantages-image img{
		width: 100%;
	}

	.advantages-text-title{
		margin-bottom: 40px;
	}

	.advantages-text-descr{
		padding-bottom: 20px;
	}

	.advantages-item:last-child{
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}

	.advantages-item:last-child .advantages-text-title{
		bottom: auto;
		right: auto;
		top: 0;
		left: 0;
		
	}

	.advantages-item:last-child .advantages-text {
		margin-left: 0;
		padding-top: 80px;
  }
}


@media (max-width: 820px){
	.statistics-items{
		flex-wrap: wrap;
		justify-content: center;
		margin: 45px auto 50px;
	}

	.statistics-item{
		margin: 30px;
	}

	.video {
		margin-bottom: 50px;
  }

  .design {
		margin: 50px 0;
	}

	.design-content{
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}

	.design-content-item:last-child{
		margin-left: 0;
		margin-top: 30px;
	}

	.footer-btn{
		margin-bottom: 50px;
	}
}


@media (max-width: 640px){
	.header-content{
		position: absolute;
		bottom: 30px;
		width: 95%;
	}
}


@media (max-width: 500px){
	.header-content h1{
		font-size: 70px;
		line-height: 70px;
	}

	.header-content p{
		margin: 20px 0 25px;
	}
}


@media (max-width: 414px){
	.logo img{
		width: 200px;
	}

	.statistics-items{
		margin: 20px auto 35px;
	}

	.header-btn{
		width: 40px;
		height: 40px;
	}

	.header-btn span{
		width: 20px;
	}

	.header-btn span::before,
	.header-btn span::after{
		width: 20px;
	}

	.header-btn span::before{
		top: -9px;
	}

	.header-btn span::after{
		bottom: -9px;
	}

	.header-content h1 {
		font-size: 50px;
		line-height: 50px;
  }

  .header-content p{
	  font-size: 20px;
  }

	.menu-btn{
		width: 40px;
		height: 40px;
	}

	.menu-btn::before, 
	.menu-btn::after{
		width: 40px;
	}

	.menu-btn::before{
		bottom: 9px;
	}

	.menu-list{
		font-size: 30px;
		max-width: 315px;
	}

	.menu-list a {
		padding-bottom: 0;
	}

	.btn{
		padding: 25px 45px;
	}

	.statistics-item__num{
		font-size: 70px;
		line-height: 70px;

	}

	.video{
		margin-bottom: 30px;
	}
}





@media (max-height: 550px){
	.slider .slick-dots{
		display: none;
	}
}


@media (max-height: 500px){
	.header .btn{
		position: absolute;
		right: 15px;
		bottom: 20px;
		/* padding: 10px 20px; */
	}

	.header-content h1{
		font-size: 40px;
		line-height: 40px;
	}

	.header-content p {
		margin: 0 0 140px;
		max-width: 284px;
		font-size: 18px;
		line-height: 20px;
  }

  .slider .slick-dots {
	display: block;
	bottom: 46px;
}



@media (max-height: 400px){
	.logo img {
		width: 200px;
  }

  .header-btn{
		width: 40px;
		height: 40px;
	}

	.header-btn span{
		width: 20px;
  	}

	.header-btn span::before, .header-btn span::after{
		width: 20px;
	}

	.header-btn span::after{
		bottom: -9px;
  	}
	  
	.header-btn span::before{
		top: -9px;
	}
	  
	.menu-btn {
		width: 40px;
		height: 40px;
	}  

	.menu-btn::before, .menu-btn::after {
		width: 40px;
  	}
	
	.menu-btn::before {
		bottom: 9px;
  	}

	.header-content h1{
		font-size: 40px;
		line-height: 40px;
	}

	.header-content p{
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 60px;
	}

	.header .btn{
		padding: 10px 20px;
		right: auto;
		bottom: 0;
	}

	.slider .slick-dots{
		display: none;
	}

	.menu-list {
		font-size: 20px;
		line-height: 20px;
  }
}