/* Settings ======================== */
*{
	box-sizing: border-box;
}

body{
	font: 400 14px/24px 'Lato', sans-serif;
	color: #2f3f54;
}

li{
	list-style-type: none;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.title{
	font: 700 40px/50px 'Roboto', sans-serif;
	color: #2f3f54;
	text-align: center;
}
 
.title span{
	color: #2575e7;
}


/* Header ========================== */
.header{
	border-top: 1px solid #2a7ce8;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 87px;
}
 
.header__nav__btn{
	display: none;
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 7px;
}

.header__nav ul{
	display: flex;
}

.header__nav li + li{
	margin: 0 0 0 35px;	
}

.header__nav a{
	color: #2f3f54;
	text-transform: uppercase;
	font: 700 14px/24px 'Open sans', sans-serif;
	display: block;
}

.header__nav a:hover{
	color: #2b7ce8;
}

/* Section - hosting =============== */
 .hosting{
	background-color: #2a7ce8;
	padding-top: 163px;
	min-height: 835px;
	color: #fff;
}

.hosting__inner{
	display: flex;
	justify-content: space-between;
}

 /* .hosting__info p ~ p{
	margin-top: 12px;
}  */

.hosting__info h1{
	margin: 12px 0 9.5px 0;
	font: 900 48px/52px 'Roboto', sans-serif;
	text-transform: uppercase;
}

.hosting__info p:nth-of-type(2){
	font: 700 19px/52px 'Lato', sans-serif;
}

.hosting__info p:last-child{
	margin-top: 13px;
}

.hosting__info ul{
	margin: 35px 0 50px 0;
	font: 700 16px/27px 'Lato', sans-serif;
}

.hosting__info li{
	padding-left: 24px;
	position: relative;
}

.hosting__info li + li{
	margin-top: 5.5px;
}

.hosting__info li::before{
	content: '';
	/* display: block; */
	width: 13px;
	height: 13px;
	position: absolute;
	background-image: url(../images/checkbox.png);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.hosting__info li img{
	vertical-align: middle;
	width: 17px;
	height: 17px;
	margin-bottom: 4px;
}

.hosting__info button{
	font: 14px 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 10px 40px;
	background: inherit;
	border: 3px solid #fff;
	border-radius: 21px;
	color: #fff;
	outline: none;
	cursor: pointer;
}

.hosting__img{
	padding: 27px 165px 0 0;
	position: relative;
}

.hosting__price{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 230px;
	background: #fff;
	border-radius: 100%;
	color: #212121;
	position: absolute;
	top: -13px;
	right: 60px;
}

.hosting__price__inner p:first-child{
	/* margin: 65px 0 0 60px; */
	text-align: left;
} 

.hosting__price__inner div{
	margin: 13px 0 3px 0;
	font: 700 54px/54px 'Roboto', sans-serif;
	text-align: center;
}

.hosting__price__inner p:last-child{
	/* margin:  0 0 0 95px; */
	text-align: right;
	
} 


/* Section - options =============== */
.options__inner{
	padding: 153px 0 180px;
}

.options__top{
	text-align: center;
	color: #4a6385;
}

.options__top p{
	margin: 36px 0 120px 0;
}

.options__top p a{
	color: #e74c3c;
}

.options__top p span{
	color: #42d6c1;
}

.options__items{
	display: flex;
	justify-content: space-between;
}

.options__item{
	max-width: 360px;
	padding: 0 40px 130px;
	margin: 0 30px 0 0;
	box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
	position: relative;
	overflow: hidden;
	color: #4a6385;
}

.options__item:last-child{
	margin: 0;
}

.options__item__price{
	position: absolute;
	width: 320px;
	height: 445px;
	background-color: #267ae9;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font: 700 33px/33px 'Roboto', sans-serif;
	left: 50%;
	transform: translateX(-50%);
	top: -349px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 40px;
}

.options__item__price span:last-child{
	font: 700 16px/24px 'Roboto', sans-serif;
}
  
.options__item__price span:first-child{
	font: 700 22px/25px 'Roboto', sans-serif;
}

.options__item__img{
	margin: 115px 0 35px 0;
	text-align: center;
	min-height: 130.2px;
}

.options__item h3{
	font: 700 30px/50px 'Roboto', sans-serif;
	color: #267ae9;
	margin-bottom: 15px;
}

.options__item p{
	margin-bottom: 50px;
}

.options__item ul li{
	font: 400 16px/36px 'Roboto', sans-serif;
	padding-left: 36px;
	position: relative;
}

.options__item ul li::before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../images/options_checkbox.png);
	width: 14px;
	height: 11px;
}
  
.options__item a{
	display: block;
	/* margin: 65px -40px 0 -40px; */
	text-align: center;
	color: #fff;
	background: #267ae9;
	font: 700 17px/20px 'Roboto', sans-serif;
	padding: 20px 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}


/* Section - reviews =============== */
.reviews{
	background: #fafafa;
	padding: 120px 0;
}

.reviews__sliders{
	margin: 170px 0 0 0;
	/* display: flex;
	justify-content: space-between; */
}

.reviews__sliders .slick-slide{
	margin: 0 45px;
	padding-bottom: 70px;
}

.reviews__sliders .slick-list{
	margin: 0 -45px;
}

.reviews__slider__box{
	height: 350px;
	display: flex;
	max-width: 525px;
	box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews__sliders .slick-dots{
	display: flex;
    justify-content: center;
}

.reviews__sliders .slick-dots button{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 0;
	outline: none;
	background: #267ae9;
	border: none;
	font-size: 0;
}

.reviews__sliders .slick-dots li{
	margin: 0 8px;
}

.reviews__sliders .slick-dots li.slick-active button{
	background: #fff;
	border: 2px solid #267ae9;
}

/* .reviews__slider::after{
	content: '';
	display: block;
	clear: both;
}  */

.reviews__slider__img{
	/* float: left; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 195px;
	background: #267ae9;
	text-align: center;
	/* padding: 110px 0; */
}

.reviews__slider__text{
	/* float: left; */
	max-width: 337px;
	padding: 60px 60px 50px 40px;
	font: 400 16px/26px 'Lato', sans-serif;
	background: #fff;
}

.reviews__slider__text p:last-child{
	margin-top: 33px;
	font: 400 16px/30px 'Lato', sans-serif;
}

.reviews__slider__text span{
	color: #267ae9;
}


/* Section - partners ============== */
.partners__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 105px 0 100px 0;
}


/* Footer ========================== */
.footer{
	padding: 80px 0 125px 0;
	background: #304054;
	color: #718db2;
	font: 400 13px/31px 'Lato', sans-serif;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
}

.footer__logo{
	font: 400 13px/22px 'Lato', sans-serif;
	max-width: 245px;
	/* margin-right: 90px; */
}

.footer__logo p{
	margin-top: 25px;
	padding-bottom: 35px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.051);
}

.footer__link{
	width: 165px;
}

.footer__link a{
	color: #718db2;
}

.footer__link h4,
.footer__form h4{
	font: 400 16px/16px 'Roboto', sans-serif;
	color: #d0e4ff;
	margin-bottom: 30px;
}

.footer__form{
	width: 270px;
	/* margin-left: 145px; */
}

.footer__form input,
.footer__form textarea{
	width: 100%;
	height: 40px;
	margin: 0;
	outline: none;
	border: 1px solid rgb(255, 255, 255, 0.051);
	background: inherit;
	padding: 0 13px;
	display: block;
	color: #718db2;
	font: 400 11px/11px 'Lato', sans-serif;
}

.footer__form textarea{
	height: 85px;
	padding: 13px;
	resize: none;	
}

.footer__form input::placeholder,
.footer__form textarea::placeholder{
	color: #718db2;
	font: 400 11px/11px 'Lato', sans-serif;
}

.footer__form button{
	font: 400 13px/13px 'Roboto', sans-serif;
	color: #fff;
	padding: 13px;
	background: #2575e7;
	text-transform: uppercase;
	border: none;
	outline: none;
	margin-top: 15px;
	cursor: pointer;
}


  